<style type="text/css">
  .contentbg {
   /*  background: url('assets/icon/homescreen.png'); */
    background-size: cover;
    background-color: #20557f;
  }
  
  .cardforteam {
    /*  width:25%;*/
    background-color: #fff;
    /*border: 1px solid rgba(140, 140, 140, 0.34);*/
    margin: 5px;
    border-radius: 10px;
    border: 1px solid #20557f;
  }
  
  .mainioncard {
    background-color: transparent;
    border: 1px solid rgba(140, 140, 140, 0.34);
    padding-top: 7px;
    margin: 5px;
    width: 99%;
  }
  
  .eventbackg {
    background-color: rgba(13, 43, 64, 0.93);
    color: #fff;
  }
  
  .eventcolor {
    color: #fff;
  }
  
  .alignmentfg {
    text-align: start;
    padding: 5px 0px;
  }
  
  .playerdet {
    font-size: 11px;
    color: #000;
  }
  
  .paddingpt {
    padding-left: 8%;
  }
  
  .timeforevent {
    font-size: 12px;
    padding-top: 3px;
    color: #e0dfdf;
  }
  
  .courtcontent {
    width: 25%;
  }
  
  .timepick {
    width: 50%;
  }
  
  .myclass .item-inner {
    border-bottom: none !important;
  }
  
  @media screen and (min-width: 500px) and (max-width: 1020px) {
    .courtcontent {
      width: 32%;
    }
  }
  
  .contentbg {
    /* background: url('assets/icon/homescreen.png'); */
    background-size: cover;
    background-color:#20557f;
  }
  
  .cardforteam {
    /*  width:25%;*/
    background-color: #fff;
      border-radius: 10px;
    border: 1px solid #20557f;
    margin: 5px;
  }
  
  .mainioncard {
    background-color: transparent;
    border: 1px solid rgba(140, 140, 140, 0.34);
    padding-top: 7px;
    margin: 5px;
    width: 99%;
  }
  
  .eventbackg {
    background-color: rgba(13, 43, 64, 0.93);
    color: #fff;
  }
  
  .eventcolor {
    color: #fff;
  }
  
  .alignmentfg {
    text-align: start;
    padding: 5px 0px;
  }
  
  .playerdet {
    font-size: 11px;
    color: #000;
  }
  
  .paddingpt {
    padding-left: 10px;
  }
  
  .timeforevent {
    font-size: 12px;
    padding-top: 3px;
    color: #e0dfdf;
    padding-left: 10px;
  }
  
  .timeforeventt {
    font-size: 12px;
    padding-top: 3px;
    color: #e0dfdf;
  }
  
  .courtcontent {
    width: 24%;
    margin: 2px;
  }
  
  .eventnamestyle {
    width: 66%;
    text-align: end;
  }
  
  .timepick {
    width: 50%;
  }
  
  .myclass .item-inner {
    border-bottom: none !important;
  }
  
  @media screen and (min-width: 500px) and (max-width: 1020px) {
    .courtcontent {
      width: 32%;
    }
  }
  
  .list-ios>.item-block:first-child {
    border-top: none !important;
  }
  
  .list-ios>.item-block:last-child,
  .list-ios>.item-wrapper:last-child .item-block {
    border-bottom: none !important;
  }
  
  .list-ios>.item-block:last-child .item-inner,
  .list-ios>.item-wrapper:last-child .item-block .item-inner {
    border-bottom: none !important;
  }
  
  .list-ios .item-block .item-inner {
    border-bottom: none !important;
  }
  
  .list-ios .item[no-lines],
  .list-ios .item[no-lines] .item-inner {
    border-width: none !important;
  }
  
  .Team {
    padding-left: 10px;
    color: #bdbdbd;
    font-size: 12px;
    margin: 2px;
    font-weight: bold;
  }
  
  .selectlist {
    width: 20%;
    margin: 0px 25px;
  }
  
  .ionitemclass {
    background-color: transparent;
  }
  
  .ionlabelclass {
    color: #c8c7cc;
    font-size: 15px;
    margin: 3px;
  }
  
  .ionselected {
    color: #ef7a13;
    font-size: 10px;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(125, 128, 125, 0.54);
    padding-right: 4px;
    padding-left:15px;
  }
  
  .adddetailsbtn {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid #868686;
  }
</style>
<ion-header>
  <div class="row">
        <div class="row" style="width: 80%;">
        <ion-list class="selectlist">
          <ion-item class="ionitemclass myclass">
            <ion-label floating class="ionlabelclass">Court</ion-label>
            <ion-select class="ionselected" >
              <ion-option *ngFor="let court of  courtlist" (ionSelect)="selectCourt(court)">{{court.courtnumber}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-list class="selectlist">
            <ion-item  class="ionitemclass myclass">
              <ion-label floating class="ionlabelclass">Event</ion-label>
              <ion-select class="ionselected" [(ngModel)]="SelectedEventName">
            <ion-option  *ngFor="let Event of  PickleBallDetailes.EventNamesArray" (ionSelect)="SelectEvent(Event)">{{Event.EventName}}</ion-option>   
             </ion-select>
            </ion-item>
         </ion-list>
        <ion-list class="selectlist" *ngIf="Curentshedulecourt.Event != undefined && Curentshedulecourt.Event==='singles'">
          <ion-item class="ionitemclass myclass" >
            <ion-label floating class="ionlabelclass">Team A</ion-label>
            <ion-select class="ionselected" *ngIf="TeamAPlayersList.length !=0">
                <ion-option  *ngFor="let player of TeamAPlayersList" (ionSelect)="SelectTeamAplayersSingles(player)" >{{player.singlePlayer}}</ion-option>  
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-list class="selectlist" *ngIf="Curentshedulecourt.Event != undefined && Curentshedulecourt.Event==='singles'">
          <ion-item class="ionitemclass myclass" >
            <ion-label floating class="ionlabelclass">Team B</ion-label>
            <ion-select class="ionselected" *ngIf="TeamBPlayersList.length!=0">
                 <ion-option  *ngFor="let player of TeamBPlayersList" (ionSelect)="SelectTeamBplayersSingles(player)">{{player.singlePlayer}}</ion-option>    
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-list class="selectlist" *ngIf="Curentshedulecourt.Event != undefined && Curentshedulecourt.Event==='Doubles'" >
          <ion-item class="myclass" style="background-color:transparent;">
            <ion-label floating class="ionlabelclass">Team A</ion-label>
            <ion-select class="ionselected" *ngIf="TeamAPlayersList.length !=0">
                <ion-option  *ngFor="let player of TeamAPlayersList" (ionSelect)="SelectTeamAplayersDoubles(player)">{{player.firstPlayer}}/{{player.secondplayer}}</ion-option> 
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-list class="selectlist" *ngIf="Curentshedulecourt.Event != undefined && Curentshedulecourt.Event==='Doubles'">
          <ion-item class="ionitemclass myclass" >
            <ion-label floating class="ionlabelclass">Team B</ion-label>
            <ion-select class="ionselected" *ngIf="TeamBPlayersList.length!=0">
                <ion-option  *ngFor="let player of TeamBPlayersList" (ionSelect)="SelectTeamBplayersDoubles(player)">{{player.firstPlayer}}/{{player.secondplayer}}</ion-option>     
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-list class="selectlist">
          <ion-item class="ionitemclass myclass" >
            <ion-label floating class="ionlabelclass">Format</ion-label>
            <ion-select class="ionselected" [(ngModel)]="SelectedFormatName">
                  <ion-option (ionSelect)="SelectedFormat('2 of 3 to 11')">2 of 3 to 11</ion-option>
                  <ion-option (ionSelect)="SelectedFormat('1 to 15')">1 to 15</ion-option>
                  <ion-option (ionSelect)="SelectedFormat('1 to 21')">1 to 21</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-list class="selectlist">
          <ion-item class="ionitemclass myclass" >
            <ion-label floating class="ionlabelclass">Referee</ion-label>
            <ion-select class="ionselected" >
                <ion-option *ngFor="let refere of Referees" (ionSelect)="selectreferee(refere)">{{refere.RefereeName}}</ion-option>    
            </ion-select>
          </ion-item>
        </ion-list>
        <button ion-button style="background-color: rgba(39, 21, 21, 0.14);color:#fff;margin-left: 25px;" (click)="SheduleCourt()"><p style="font-size: 12px;">Schedule Match</p></button>
    </div>
    <div  text-right style="padding: 0px !important;width:20%">
      <img text-right class="logostyles" src="assets/icon/newicon.png">
    </div>
</div>
</ion-header>
<ion-content class="contentbg">
  <ion-card class="mainioncard row" style="margin-top: 50px" *ngIf="ShedulecourtListArray.length>0">
    <div class="courtcontent" *ngFor = "let Obj of ShedulecourtListArray">
    <div text-center>
      <h2  class="courtnumber" style="width:100%;">{{Obj.court}}</h2>
      </div>
      <ion-card class="cardforteam" (click)="NextPage(Obj);" style="width:97%;">
        <div class="row eventbackg" >
          <div  class="eventnamestyle" text-center>
               <h4  class="eventcolor" >{{Obj.EventName}}</h4>
          </div>
        </div>
        <div>
          <p class="Team" text-start style="color:currentColor;">Teams<span>:</span></p>
        </div>
        <div style="padding: 0 5px;margin-left:5px;">
              <p class="playerdet" style="padding:0 5px ;margin-left:7px;"> {{Obj.Team1.Players[0]['Name']}}
                <span *ngIf="Obj.Team1.Players.length > 1">/<span> {{Obj.Team1.Players[1]['Name']}}</span>
                  </span></p>
              <div style="text-align:center">
                <p class="playerdet" style="width:33%;">VS</p>
              </div>
              <p class="playerdet" style="padding:0 5px ;margin-left:7px;">{{Obj.Team2.Players[0]['Name']}}<span *ngIf="Obj.Team2.Players.length > 1">/<span>{{Obj.Team2.Players[1]['Name']}}</span></span></p>
        </div>
         <div  class="alignmentfg" >
              <p class="playerdet paddingpt"  justify-content-around><span style="font-size:12px;color:currentColor;font-weight: bold;">Format</span> <span>:</span><span>{{Obj.GameFormat}}</span></p>
        </div>
        <div  class="alignmentfg">
              <p class="playerdet paddingpt"  justify-content-around><span style="font-size:12px;color:currentColor;font-weight: bold;">Referee</span> <span>:</span><span>{{Obj.Referee}}</span></p>
        </div>
        <div justify-content-between class="row">
              <div  class="timepick">
                    <p  class="timeforevent" style="color:currentColor;font-weight: bold;">Time :
                       <span  class="timeforevent" style="font-size:10px;color:#000;">{{Obj.Time}}</span>
                    </p>
              </div>
              <div>
               <button class="adddetailsbtn"><p style="color:#20557f;">complete</p></button>
              </div>
        </div>
      </ion-card>
    </div>
  </ion-card>
</ion-content>